<div class="p-4">

<h6>All users</h6>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>email</th>
      <th>password</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.password_digest %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>