<div class="p-4">
<p><span>Current user: <%= current_user.email %></span></p>

<h5>All users</h5>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>email</th>
      <th>password</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>